numpy
pandas
scikit-learn
pytest
# we use pytorch cpu only version to reduce the slug size in Heroku
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cpu
optuna
dvc
dvc[s3]
pyyaml
fastapi
uvicorn
gunicorn
httpx

